@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Shantell+Sans:ital,wght@1,600&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Shantell Sans', cursive;
*/



/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Poppins', sans-serif;
}

/* NAV */
.title-brand {
    font-family: 'Shantell Sans', cursive;
}

.nav-link {
    font-size: small;
}
/* NAV */

/* LANDING PAGE */
.carousel-item {
    height: 45.7vw;
    
}

.carousel-caption {
    bottom: 240px;
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-caption h5 {
    font-family: 'Shantell Sans', cursive;
    font-size: 38px;
}

.carousel-caption p {
    font-size: 11px;
}


.carousel-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: .7;
}
/* LANDING PAGE */


/* 2nd page */
.btn {
    font-size: small;
    border: 1px solid;
}

.btn:hover {
    color: rgb(245, 196, 106);
}
/* 2nd page */


.footer {
    background-color: rgb(177, 176, 176);
}


.foot-p {
    text-decoration: none;
    color: black;
}


/* icons */
.fa-brands {
    color: rgb(29, 29, 29);
}